// Global restet & basic definitions
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VCROSDMono";
  background-color: $color-white;
  // overflow: hidden;
}

body {
  line-height: 1.7;
}

section {
  height: 100vh;
}
