//Variables
$color-white: #ffffff;
$color-alt-white: #f1f1f1;
$color-off-white: #f6f6f6;
$color-black: #000;
$color-alt-black: #333333;
$color-grey: #777;
$color-alt-grey: #8b8b8b;
$color-red: #ff0000;
$color-shadow: #00000033;
